<div class="channel-header">
  <div class="dropdown-channel-header" (click)="toggleChannels()">
    <button matIconButton>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-icon>bolt</mat-icon>
    <span>Channels</span>
  </div>
  <button matIconButton (click)="addChannelDialogOpen()" matTooltip="Add Channel!">
    <mat-icon>add</mat-icon>
  </button>
</div>
<section>
  @if (channelsOpen) {
  @for (channel of channels$ | async; track channel.id) {
  <div class="channels" (click)="openChat(channel.id)">
    <mat-icon>select_all</mat-icon>
    {{ channel['name'] }}
  </div>
  }
  <div class="channels" (click)="addChannelDialogOpen()">
    <mat-icon>add_circle</mat-icon>
    Add Channel
  </div>
  }
</section>