section {
    height: 100vh;
    width: 100%;
    background: #F8FAFC;
}

.chat-answer-button{
    position: absolute;
    right: 20px;
    top: 40%;
    height: 250px;
    width: 30px;
    border-radius: 15px 0 0 15px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    background: rgb(0, 0, 0, 0.5);
    cursor: pointer;
    writing-mode: vertical-rl;
    color: #F8FAFC;
    &:hover{
        background: rgb(0, 0, 0, 0.4);
    }
}

.sidenav-button{
    position: absolute;
    left: 20px;
    top: 40%;
    height: 250px;
    width: 30px;
    border-radius: 0 15px 15px 0;
    border: 1px solid rgb(0, 0, 0, 0.2);
    background: rgb(0, 0, 0, 0.5);
    cursor: pointer;
    writing-mode: vertical-rl;
    color: #F8FAFC;
    &:hover{
        background: rgb(0, 0, 0, 0.4);
    }
}

.main-content {
    position: relative;
    max-width: 1440px;
    margin:auto;
    width: calc(100% - 40px);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    app-sidenav {
        width: 300px;
        background: rgba(150, 73, 1, 0.2);
        height: calc(100vh - 120px);
        border-radius: 20px;
    }
    

    app-main-chat {
        flex: 1;
        background: rgba(150, 73, 1, 0.2);
        height: calc(100vh - 120px);
        border-radius: 20px;
        &.sidenav-closed{
            width: 100%;
        }
    }

    app-chat-answers{
        width: 350px;
        background: rgba(150, 73, 1, 0.2);
        height: calc(100vh - 120px);
        border-radius: 20px;
    }
}