<section>
    <app-header></app-header>
    <div class="main-content">
        @if (sidenavIsOpen) {
        <button (click)="toggleSidenav()" class="sidenav-button">Close Chats</button>
        } @else {
        <button (click)="toggleSidenav()" class="sidenav-button">Open Chats</button>
        }
        @if(sidenavIsOpen){
        <app-sidenav></app-sidenav>
        }
        <app-main-chat [class.sidenav-closed]="!sidenavIsOpen"></app-main-chat>
        @if (dashboardState.openChatAnswers()) {
            @if (dashboardState.openChatAnswers()) {
                <button (click)="closeChatAnswers()" class="chat-answer-button" style="z-index: 10;">Close Answers</button>
            }
        <app-chat-answers></app-chat-answers>
        }
    </div>
</section>