<section>
    <mat-toolbar>
        <img src="assets/img/logo.png" style="filter: brightness(100);margin-top: 10px;">
        <mat-form-field appearance="fill">
            <mat-label>Search...</mat-label>
            <input matInput [(ngModel)]="searchTerm" (input)="searchDirects()" placeholder="Search in-chat entrys...">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <span class="example-spacer"></span>
        <app-user-profile></app-user-profile>
    </mat-toolbar>
</section>
<section class="header-section">

    @if (results.length > 0) {
      <div class="search-results">
  
        @for (result of results; track result.chatId + result.text) {
          <div class="result-item" (click)="openDirect(result)">
  
            <img [src]="getOtherUser(result)?.avatar" style="width: 100px;">
  
            <div class="content">
              <div class="text">
                ... {{ result.text }}
              </div>
  
              <div class="meta">
                from the Chat with: {{ getOtherUser(result)?.name }}
              </div>
            </div>
  
          </div>
        }
  
      </div>
    }
  
  </section>