@if (dashboardState.chatType() === 'channel') {
@if (channel$ | async; as channel) {
<mat-toolbar class="main-header">
    <div class="chat-header">
        <button matIconButton (click)="closeChat()">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-icon>select_all</mat-icon>
        <span>{{ channel?.['name'] }}</span>
    </div>

    <div class="chat-header-users">
        @for (userId of channel?.['members'] ?? []; track userId) {
        @if (getUserById(userId); as user) {
        <div class="channel-users">
            <img [src]="user.avatar">
        </div>
        }
        }
        <div>
            <button matIconButton (click)="addUserToChannel()">
                <mat-icon>settings_b_roll</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>
}
} @else if (dashboardState.chatType() === 'directs') {
@if (chat$ | async; as chat) {
<mat-toolbar class="main-header">
    <div class="chat-header">
        <button matIconButton (click)="closeChat()">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <span>
            {{ getOtherUser(chat)?.name }}
        </span>
        <div class="chat-header-users">
            <div class="chat-users">
                <img [src]="getOtherUser(chat)?.avatar">
            </div>
        </div>
    </div>
</mat-toolbar>
}
} @else {
<mat-toolbar class="main-header new-message">
    <h1>New Massage</h1>
    <div class="placeholder-message">
        <mat-form-field>
            <mat-label>...to Channel, Direct or new @email</mat-label>
            <input matInput placeholder="...">
        </mat-form-field>
        <div>
            <button matIconButton>
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>
}


@if (
(dashboardState.chatType() === 'channel' && (channel$ | async)) ||
(dashboardState.chatType() === 'directs' && (chat$ | async))
) {

<section class="chat-section">
    @if (messages$ | async; as messages) {
    @for (message of messages; track message.id) {
    @let user = getUserById(message.senderId);

    @if (message.senderId == dashboardState.userId()) {
    <div class="message-self" (click)="openThread(message.threadId)">
        <div class="message-date">
            <div>
                <span>{{ message.createdAt | date:'dd.MM.yyyy' }} | </span>
                <span>{{ message.createdAt | date:'HH:mm' }}</span>
            </div>
            <div class="thread-info">
                @if (message.threadId.length > 0) {
                1+@
                }
            </div>
        </div>
        <div class="message-info">
            <h4>{{ user?.name }}</h4>
            <span>{{ message.text }}</span>
        </div>
        <img [src]="user?.avatar">
    </div>
    } @else {
    <div class="message" (click)="openThread(message.threadId)">
        <img [src]="user?.avatar">
        <div class="message-info">
            <h4>{{ user?.name }}</h4>
            <span>{{ message.text }}</span>
        </div>
        <div class="message-date">
            <div>
                <span>{{ message.createdAt | date:'dd.MM.yyyy' }} | </span>
                <span>{{ message.createdAt | date:'HH:mm' }}</span>
            </div>
            <div class="thread-info">
                @if (dashboardState.chatType() === 'channel' && message.threadId.length > 0) {
                1+@
                }
            </div>
        </div>
    </div>
    }
    }
    }
</section>

}


<section class="content">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Send message to #construction</mat-label>
            <textarea matInput placeholder="..." [(ngModel)]="messageInput" name="message"></textarea>
        </mat-form-field>
        <mat-toolbar class="message-toolbar">
            <button matIconButton>
                <mat-icon>add</mat-icon>
            </button>
            <span>|</span>
            <button matIconButton>
                <mat-icon>add_reaction</mat-icon>
            </button>
            <button matIconButton>
                <mat-icon>alternate_email</mat-icon>
            </button>
            <div class="space-between"></div>
            @if (dashboardState.chatId()) {
            <button matIconButton (click)="sendMessage(dashboardState.chatId()!)">
                <mat-icon>send</mat-icon>
            </button>
            } @else if(dashboardState.channelId()) {
            <button matIconButton (click)="sendChannelMessage(dashboardState.channelId()!)">
                <mat-icon>send</mat-icon>
            </button>
            }
        </mat-toolbar>
    </form>
</section>